# Server Configuration
PORT=3000
API_VERSION=v1
NODE_ENV=development

# CORS Configuration
CORS_ORIGIN=http://localhost:3000

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# Session Configuration
SESSION_SECRET=change_me

# Database Configuration (if needed)
MONGO_URI=mongodb://localhost:27017/your_app_name
